.NavBar {
    margin: 0;
    padding: 10px;
    background-color: #de733e;
    border-radius: 0px 0px 5px 5px;
    box-shadow:0px 4px #d1dab9;
}

.NavBar a {
    text-decoration: none;
    background-color: #de733e;
}

.NavBar a:hover {
    text-decoration:underline;
}