* {
    color: #998b82;
    margin: 0;
    padding: 0;
}
.HeaderText {
    height: 100vh;
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 25px;
}

.WelcomeText{
    font: 60px sans-serif;
    margin-left: 200px;
    margin-top: 90px;
    
}

.SubText {
    font: 20px sans-serif;
    margin-left: 490px;
}

